playground/src/main/app/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--

    This software is licensed under the Apache 2 license, quoted below.

    Copyright 2012 Julien Eluard

    Licensed under the Apache License, Version 2.0 (the "License"); you may not
    use this file except in compliance with the License. You may obtain a copy of
    the License at

        [http://www.apache.org/licenses/LICENSE-2.0]

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
    WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
    License for the specific language governing permissions and limitations under
    the License.

-->

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:ajax="http://www.mulesoft.org/schema/mule/ajax"
      xmlns:json="http://www.mulesoft.org/schema/mule/json"
      xmlns:dynamic="http://www.mulesoft.org/schema/mule/dynamic"
    xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.2/mule.xsd
        http://www.mulesoft.org/schema/mule/ajax http://www.mulesoft.org/schema/mule/ajax/3.2/mule-ajax.xsd
        http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/3.2/mule-json.xsd
        http://www.mulesoft.org/schema/mule/dynamic http://www.mulesoft.org/schema/mule/dynamic/1.0-SNAPSHOT/mule-dynamic.xsd">

    <ajax:connector name="server" serverUrl="http://0.0.0.0:${http.port}/" resourceBase="${app.home}/site" />

    <dynamic:config />

    <flow name="fetch-ids">
        <ajax:inbound-endpoint channel="/ids" />
        <dynamic:list-ids />
    </flow>

    <flow name="fetch-versions">
        <ajax:inbound-endpoint channel="/versions" />
        <dynamic:list-versions id="#[json:module]" includeSnapshots="#[json:includeSnapshots]" />
    </flow>

    <flow name="fetch-module">
        <ajax:inbound-endpoint channel="/module" />
        <dynamic:module id="#[json:id]" version="#[json:version]" />
        <json:object-to-json-transformer />
    </flow>

</mule>
